html{
	background-image: url(bg.png);
	width: 100%vw;
	height: 100%vh; 
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1{
	text-align: center;
	font-size: 4em;
	font-family: cursive;
}

#content{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

p{
	text-align: center;
	font-size: 3em;
	font-family: cursive;
}
